@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');
@media (min-width: 601px) and (max-width: 4000px) { 
 
    nav{	 
    background: linear-gradient(to right,  #fff,#fff);
   
    overflow:hidden;
    }
     
    #navbardrop::after {
        content: '';
        display: block;
        width: 0;
        height:3px;
        background: #00d550  !important;
        transition: width 1s;
    }
   
    
    #navbardrop:hover  {
        background-color:#ACF0CB !important;
         
    }
    .PC_img{
		margin-left:15%;
		margin-top:11px;
	}
	.PC_font{
		margin-left:-15%;
		font-size:28px;
        font-family:Noto Sans TC !important;
		text-align: center;
	}
    .pc_navlu{
		margin-left:13%;
	}
    center{
        padding-top:5px;
    }
    .pc_new{
        background-color:#fff !important;
         margin-top:-20px;
        height:48px;
        width:130px;
         
    } 
     
    .pc_nav{
       box-shadow: -1px 0px 10px 5px rgba(0, 228, 146, 0.2);
         overflow:hide;
       height:48px;
    } 
    .pc_rec{
        margin-top:-20px;
        width:130px;
        height: 48px;
        border-bottom: 3px solid #00E492;	 
    }
   }
   
   @media (min-width: 450px) and (max-width: 600px) {
    nav{	 
        background: linear-gradient(to right,  #fff,#fff);
   
    }
    .navbar-collapse {
      display: flex;
      flex-wrap: nowrap;
    }
   
    .navbar-nav {
      flex-direction: row;
    } 
     
    #navbardrop::after {
        content: '';
        display: block;
        width: 0;
        height:3px;
        background: #00d550  !important;
        transition: width 1s;
    }
    #navbardrop:hover  {
        background-color:#ACF0CB !important;
        margin-top:1px ;
        height: 48px;
    }
    
     .PC_img{
        margin-left:50px;
        margin-top:11px;
    }
    .PC_font{
         
        margin-left:-50px;
        font-family:Noto Sans TC !important;
        font-size:28px;
        text-align: center;
    } 
    center{
        padding-top: 5px;
    }
    .pc_new{
        margin-top:-30px;
        
        width:130px;
        height: 48px;
    } 
    .pc_nav{
       box-shadow: -1px 0px 10px 5px rgba(0, 228, 146, 0.2);
         overflow:hide;
       height:48px;
    } 
    .pc_rec{
        margin-top:-30px;
        width:130px;
        height: 48px;
        border-bottom: 3px solid #00E492;	 
    }
   } 
    
   @media (min-width: 0px) and (max-width: 449px) {
       nav{	 
           background: linear-gradient(to right,  #fff,#fff);
       }
       .PC_img{
           margin-left:50px;
           margin-top:12px;
       }
       .PC_font{
        font-family:Noto Sans TC !important;
           margin-left:-50px;
           font-size:16px;
           text-align: center;
       } 
       center{
           padding-top: 8px;
       }
        
       .pc_new{
           background-color:#fff !important;
            
           height:80px;
           width:68px;
           overflow:hidden;　
       } 
       .pc_nav{
           box-shadow: -1px 0px 10px 5px rgba(0, 228, 146, 0.2);
            overflow:hide;
          height:32px;
          border-bottom: 3px solid #00E492;	 
       } 
   } 