    @media (min-width: 0px) and (max-width: 1024px) { 
        .form-group{
            background: rgb(255,255,255);
        } 
    }
    @media (min-width: 1025px) and (max-width: 4000px) { 
        .form-group{
            //box-shadow:  0px 4px 4px rgba(0, 228, 146, 0.2);
            //background: rgb(172,240,203);
            background :linear-gradient(90deg , rgba(172,240,203,0) 15%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 55%, rgba(255,255,255,1) 85%, rgba(0,228,146,0.2) 90%, rgba(172,240,203,0) 93%);
        } 
    }
    body{
        background: rgba(172, 240, 203, 0.2);
    }

    .form-control{
        border-color:#00E492;
        border-width:1px;
    }
    .btn{
        background-color: #fff; 
        
        margin-bottom:20px;
        border-color:#00E492;
    }
    .btn:hover{
        background-color: #00E492; 
        color:black;
        margin-bottom:20px;
        border-color:#00E492;
    }
    .btn:focus{
        border: none;
        background-color: #009761;
        outline:0;
        box-shadow: 0 0 3px #009761;
    }
    .form-control:focus {
        
        border:1px solid #00E492;
        box-shadow: 0 0 3px #00E492;
    }
    